<html>
  <head>
    <meta charset="UTF-8" />
    <title>Loan books</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <h1>Library books</h1>
    <h3>Gyogypuszi Piros Koenyv</h3>
    <ul>
      {% for item in items %}
      <li>Library: {{ item.address }} - Status: {{ item.status }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
